[Unit]
Description=ESLint service (eslint_d)

[Service]
Type=simple
WorkingDirectory=/home/austinjp/.cache/eslint_d/
ExecStart=/home/austinjp/.local/share/pnpm/eslint_d
RestartSec=2
Restart=on-failure

[Install]
WantedBy=multi-user.target