[Unit]
Description=Language Server for Python (pylsp)

[Service]
Type=simple
WorkingDirectory=/home/austinjp/.local/tmp/pylsp
ExecStart=/usr/bin/pylsp --verbose
RestartSec=2
Restart=on-failure

[Install]
WantedBy=multi-user.target
