[Unit]
Description=Language Server for Python (pylsp)

[Service]
Type=simple
WorkingDirectory=/home/austinjp/.cache/pylsp/
ExecStart=/usr/bin/pylsp --verbose --log-file /tmp/pylsp.log
RestartSec=2
Restart=on-failure

[Install]
WantedBy=multi-user.target
