[Unit]
Description=Redshift

[Service]
Type=simple
WorkingDirectory=%h/.local/tmp
ExecStart=/usr/bin/redshift -l 51.5:0.0 -m randr
RestartSec=120
Restart=always

[Install]
WantedBy=default.target
