# Secure stuff.
*.pem
*.cert
cert*
*token*
token*
*token

# gauth
.config/gauth.*

# Syncthing -- should set this up by hand per machine.
.config/syncthing
.config/systemd/user/default.target.wants/syncthing.service
.config/systemd/user/syncthing.service

# XFCE
xfce/
xfce4/

# OneDrive
.config/onedrive/items.sqlite3
.config/onedrive/items.sqlite3-wal
.config/onedrive/refresh_token
.config/onedrive/.config.backup
.config/onedrive/.config.hash

# Ungoogled Chromium
chromium

# Directories created by sdk (see sdkman.io)
.sdkman/archives/
.sdkman/candidates/java/
.sdkman/tmp/
.sdkman/var/

# Retain the symlink to the current version of Java selected using sdk.
!.sdkman/candidates/java/current

# Misc
*.sqlite
*.sqlite3
*.sqlite3*
cni
.config/dconf
.config/gtk-3.0
.config/libreoffice
.config/Google
.config/Kingsoft
.config/Microsoft
.config/pulse
.config/Thunar
.config/QtProject.conf
.config/atril/
.config/autostart/
.config/calibre/
.config/enchant/
.config/graviton/
.config/ibus/
.config/papis/
.config/teams/
.config/zoomus.conf
.emacs.d/auto-save-list/
spotifyd/

# Backup files.
*~
*.bak
