[user]
    email = austin.plunkett@gmail.com
    name = austinjp

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[core]
    autocrlf = input
    # pager = less -XFRS
    pager = delta $(~/.local/bin/delta_theme_switch.sh) --color-only

[credential]
    helper = store

[interactive]
    diffFilter = delta $(~/.local/bin/delta_theme_switch.sh) --features=interactive

[include]
    path = /home/austinjp/.config/delta/themes.gitconfig

[delta]
   features = phage-austin

[delta "interactive"]
    keep-plus-minus-markers = false

[init]
    defaultBranch = main

[diff "pandoc"]
    textconv=pandoc --to=markdown --columns $(tput cols)
    prompt = false

[alias]
    wdiff = diff --word-diff=color --unified=1
