# Secure stuff.
*.pem
*.cert
cert*
*ertificate*
*token*
token*
*token
.config/Signal
.config/kleopatrarc
.config/keepassxc

# gauth
.config/gauth.*


# Syncthing -- should set this up by hand per machine.
.config/syncthing
.config/systemd/user/default.target.wants/syncthing.service
.config/systemd/user/syncthing.service


# Emacs
.emacs.d/*
!.emacs.d/init.el


# XFCE
xfce/
xfce4/


# OneDrive
.config/onedrive/items.sqlite3
.config/onedrive/items.sqlite3-wal
.config/onedrive/refresh_token
.config/onedrive/.config.backup
.config/onedrive/.config.hash


# Ungoogled Chromium
chromium


# Directories created by sdk (see sdkman.io)
.sdkman/archives/*
.sdkman/bin/*
.sdkman/candidates/java/*
.sdkman/contrib/*
.sdkman/libexec/*
.sdkman/src/*
.sdkman/tmp/*
.sdkman/var/*


# Retain the symlink to the current version of Java selected using sdk.
!.sdkman/candidates/java/current


# Backup files.
*~
*.bak


# Misc
*.sqlite
*.sqlite3
*.sqlite3*
cni
.cargo/*
!.cargo/env
.config/Caprine
.config/Google
.config/Kingsoft
.config/Microsoft
.config/QtProject.conf
.config/Recoll.org
.config/Thunar
.config/atril/
.config/autostart/
.config/calibre/
.config/dconf
.config/enchant/
.config/evcxr/history.txt
.config/gh/hosts.yml
.config/godot
.config/graviton/
.config/gtk-3.0
.config/ibus/
.config/kdeconnect
.config/kde.org/kdeconnect.app.conf
.config/libreoffice
.config/litecli/*
.config/onedrive/.config.backup
.config/onedrive/.config.hash
.config/papis/
.config/pulse
.config/sncli/
.config/spotify-tui/client.yml
.config/spotifyd/
.config/teams/
.config/zoomus.conf
.npm/_cacache
.npm/_libvips
.npm/_logs
.npm/_npx
.npm/_prebuilds
.npm/_update*
.recoll/history
.recoll/idxstatus.txt
.recoll/index.pid
.recoll/missing
.recoll/ptrans
.recoll/webcache
.recoll/xapiandb
.rustup/*
!.rustup/settings.toml


.luax-pandoc_history
.luax_history
.mutt_certificates
.muttdebug*
.python_history
.scala_history
.cpan
.ivy2
.javacpp/cache
..bfg-report/*


.config/Authy*
.config/Beeper/
.config/Genymobile/
.config/Session/
.config/attu/
.config/balenaEtcher/
.config/configstore/
.config/deluge/
.config/go/telemetry/
.config/jgit/
.config/see-cat/
.config/see/
.config/semi_technologies/
.config/transmission/

.hplip/
