[user]
    email = austin.plunkett@gmail.com
    name = austinjp

[core]
    autocrlf = input
    # pager = less -XFRS
    pager = delta $(delta_theme_switch.sh) 

[credential]
    helper = store

[interactive]
    diffFilter = delta $(delta_theme_switch.sh) --color-only --features=interactive

[include]
    path = /home/austinjp/.config/delta/themes.gitconfig

[delta]
   features = phage-austin

[delta "interactive"]
    keep-plus-minus-markers = false
[init]
	defaultBranch = main
