GnmItemGrid,
GnmPreviewGrid,
GocCanvas.full-sheet,
GtkBin.auto-expr {
  /* GnmItemGrid requires that the background be solid and rectangular
     since we cheat and print only parts of it.  */
  background-image: none;
  background-color: red;
  padding: 0;
  border-style: none;
  border-width: 0;
}
